@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100vw;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Layer_1 a:hover {
    font-weight: 1000;
}

.wrapper {
    position: relative;
    width: 85vh;
    height: 85vh;
    border-radius: 50%;
    z-index: 10;
    animation: spinning 50s linear infinite;
}

.wrapper2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    background: #efeee9;
    z-index: 100;
    font-size: 2vh;
    font-family: 'Roboto', sans-serif;
}

.wrapper2:before {
    content: "";
    position: absolute;
    width: 15vh;
    height: 15vh;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.wrapper2 p:nth-child(2) {
    font-size: 4.5vh;
    font-family: 'Zilla Slab', serif;
    font-weight: 300;
    margin-top: -5px;
}

svg {
    margin-left: -10px;
}

.wrapper:hover {
    animation-play-state: paused;
}

@keyframes spinning {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  @media (orientation: portrait) {
    .wrapper {
        width: 100vw;
        height: 100vw;
    }
    .wrapper2 {
        width: 25vw;
        height: 25vw;
        font-size: 2vw;
    }
    .wrapper2 p:nth-child(2) {
        font-size: 4.5vw;
    }
    .wrapper2:before {
        content: "";
        position: absolute;
        width: 15vw;
        height: 15vw;
        border-top: 2px black solid;
        border-bottom: 2px black solid;
    }
  }